<h3 class="bg-primary p-3">Books list</h3>

<div class="mt-1 mb-1">
  <input class="form-control" #bookTitle />
  <button class="btn btn-primary mt-1" (click)="addBook(bookTitle.value)">Add</button>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Genres</th>
      <th>Comments</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of getBooks(); let i = index">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.getAuthorsNames() }}</td>
        <td>{{ book.getGenresNames() }}</td>
        <td>Show comments</td>
        <td>Edit; Remove</td>
    </tr>
  </tbody>
</table>
