<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authors</title>
    <th:block th:include="fragments/head :: head">Head</th:block>
</head>

<body>

<div class="container">
    <th:block th:include="fragments/menu :: menu">Menu</th:block>
</div>

<div class="container">

    <h1>Authors</h1>

    <p>
        <a href="/authors/edit" th:href="@{/authors/edit}">Create</a>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">Id</td>
            <td th:text="${author.name}">Name</td>
            <td>
                <a href="/authors/edit/1" th:href="@{/authors/edit/__${author.id}__}">Edit</a>
                <a href="/authors/delete/1" th:href="@{/authors/delete/__${author.id}__}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
