<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User Details</title>

    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <th:block th:include="fragments/menu :: menu">Menu</th:block>
</div>

<div class="container">
    <h1>User details</h1>

    <div class="text-left">
        Username: <p th:text="${user.username}">Username</p>
        Authorities: <p th:text="${user.authorities}">Authorities</p>
    </div>

    <form class="form-group" th:action="@{/appLogout}" method="POST">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
</div>

</body>

</html>
