<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentDao" class="ru.nchernetsov.dao.StudentDaoMock"/>

    <bean id="questionService" class="ru.nchernetsov.service.impl.QuestionServiceImpl"/>

    <bean id="consoleService" class="ru.nchernetsov.service.impl.ConsoleServiceImpl"/>

    <bean id="testingService" class="ru.nchernetsov.service.impl.TestingServiceImpl">
        <constructor-arg name="studentDao" ref="studentDao"/>
        <constructor-arg name="questionService" ref="questionService"/>
        <constructor-arg name="consoleService" ref="consoleService"/>
    </bean>
</beans>
