<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Library Info App</a>
    <button class="btn btn-info btn-sm pull-left" (click)="showBooksList()">
        Books
    </button>
    <button class="btn btn-info btn-sm pull-left" (click)="showAuthorsList()">
        Authors
    </button>
    <button class="btn btn-info btn-sm pull-left" (click)="showGenresList()">
        Genres
    </button>
    <button class="btn btn-danger btn-sm btn-sm pull-left" routerLink="/admin">
        Admin
    </button>
</nav>

<h3>Placeholder for Admin Features</h3>
