<div class="bg-primary p-3" [class.bg-warning]="editing">
    <h5>{{editing ? "Edit" : "Create"}} Genre</h5>
</div>
<form novalidate #form="ngForm" (ngSubmit)="save(form)">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" name="name" id="name" [(ngModel)]="genre.name"/>
    </div>
    <button type="submit" class="btn btn-primary" [class.btn-warning]="editing">
        {{editing ? "Save" : "Create"}}
    </button>
    <button type="reset" class="btn btn-secondary" routerLink="/genres">
        Cancel
    </button>
</form>
