<div class="bg-primary p-3" [class.bg-warning]="editing">
    <h5>{{editing ? "Edit" : "Create"}} Book</h5>
</div>
<form novalidate #form="ngForm" (ngSubmit)="save(form)">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" name="title" id="title" [(ngModel)]="book.title"/>
    </div>
    <div class="form-group">
        <label for="authors">Authors</label>
        <select multiple="multiple" name="authors" id="authors" [(ngModel)]="book.authors">
            <option *ngFor="let author of getAllAuthors()" [ngValue]="author">
                {{ author.name }}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="genres">Genres</label>
        <select multiple="multiple" name="genres" id="genres" [(ngModel)]="book.genres">
            <option *ngFor="let genre of getAllGenres()" [ngValue]="genre">
                {{ genre.name }}
            </option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary" [class.btn-warning]="editing">
        {{editing ? "Save" : "Create"}}
    </button>
    <button type="reset" class="btn btn-secondary" routerLink="/books">
        Cancel
    </button>
</form>
