<div class="navbar navbar-nav bg-primary">
    <a class="navbar-brand">Library Info</a>
</div>

<!--<div class="mt-1 mb-1">-->
<!--<input class="form-control" #bookTitle />-->
<!--<button class="btn btn-primary mt-1" (click)="addBook(bookTitle.value)">Add</button>-->
<!--</div>-->

<div class="col-xl-9 p-3">
    <div class="form-inline float-left mr-1">
        <select class="form-control" [value]="booksPerPage"
                (change)="changePageSize($event.target.value)">
            <option value="3">3 per Page</option>
            <option value="4">4 per Page</option>
            <option value="6">6 per Page</option>
            <option value="8">8 per Page</option>
        </select>
    </div>

    <div class="btn-group float-right">
        <button *counter="let page of pageCount" (click)="changePage(page)"
                class="btn btn-outline-primary" [class.active]="page == selectedPage">
            {{page}}
        </button>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Authors</th>
            <th>Genres</th>
            <th>Comments</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of books">
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.getAuthorsNames() }}</td>
            <td>{{ book.getGenresNames() }}</td>
            <td>Show comments</td>
            <td>Edit; Remove</td>
        </tr>
        </tbody>
    </table>
</div>
